name: Python CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Check for vulnerable dependencies
      uses: pyupio/safety-action@v1
      with:
        api-key: ${{ secrets.SAFETY_API_KEY }}  

    - name: Install Linter Analysis Tools 
      run: pip install flake8  
      
    - name: Run Flake8 (Linting)
      run: flake8 src/ tests/


  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
        

    - name: Run tests with Secret
      env:
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      run: |
        pytest -v

